* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cause", cursive;
  background: #fcfbf2;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.app {
  max-width: 480px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #8dcbd8;
  margin-bottom: 1.5rem;
}

.top-row {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.date-box {
  height: 100px;
  width: 100px;
  background: #e3eed2;
  border: 2px solid #8dcbd8;
  border-radius: 8px;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
}

.progress-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.progress-label {
  font-size: 30px;
  color: #8dcbd8;
  text-align: center;
  margin-bottom: 20px;
}

.progress-wrap {
  background: #e8e8e8;
  border-radius: 99px;
  height: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #e3eed2;
  border-radius: 99px;
  transition: width 0.3s ease;
}

.progress-text {
  font-size: 12px;
  padding: 5px;
  text-align: center;
  color: #bbb;
}

.input-row {
  display: flex;
  width: 500px;
  height: 50px;
}

.task-input {
  width: 350px;
  height: 40px;
  flex: none;
  border: 1px solid #8dcbd8;
  border-radius: 20px;
  padding: 10px 14px;
  font-family: "Cause", cursive;
  font-size: 15px;
  color: #1a1a1a;
  background: #fcfbf2;
  outline: none;
}

.task-input::placeholder {
  color: #bbb;
}

.add-btn {
  background-image: url('../add-button.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -9.5px;;
}

.add-text {
  color: #fcfbf2;;
  font-size: 20px;
  font-weight: bold;
  font-family: "Cause", cursive;
}

.add-btn:active {
  transform: scale(0.95);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.task-title {

font-size: 25px;
font-weight: bold;
color: #8dcbd8;
padding-top: 30px;
padding-bottom: 30px;

}

.task-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  background: #e3eed2;
  border: 1px solid #e3eed2;
  border-radius: 50px;
}


.circle-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.circle-img:hover {
  opacity: 0.7;
}

.circle.checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 9px;
  border: 1.5px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateY(-1px);
}

.task-text {
  flex: 1;
  font-size: 16px;
  color: #1a1a1a;
}

.task-item.done .task-text {
  text-decoration: line-through;
  color: #8dcbd8;
}

.del {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s;
}

.task-item:hover .del {
  opacity: 1;
}

